body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

header {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  width: 100%;
  margin-bottom: 4vw;
}

main {
  display: flex;
  flex-direction: column;
  padding: 3vw;
  width: 75%;
  max-width: 800px;
  background-color: #1c2c48;
}

h1,
h2 {
  font-size: 3vw;
  font-weight: 800;
}

h2 {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  width: 100%;
  margin-bottom: 4vw;
}

i {
  margin-left: 8px;
  margin-bottom: 5px;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.7vw;
}

div.form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

/* Page Count */
input[type="range"] {
  -webkit-appearance: none;
  width: 40%;
  height: 60%;
  background: white;
  background-image: linear-gradient(#207de9, #207de9);
  background-size: 10% 100%;
  background-repeat: no-repeat;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* Chrome, Safari, Edge */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 50px;
  height: 27px;
  background-color: #207de9;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #7dd3fc;
  border: none;
  border-radius: 50%;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#seoYes,
#designYes {
  margin-left: 10%;
}

/* Buttons and Inputs */
#enquire,
#submit {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 7vw;
  padding: 1vw 2vw;
  font-size: 1.5vw;
  font-weight: 800;
}

#enquire {
  justify-content: center;
  width: 20vw;
  color: #207de9;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#submit {
  justify-content: center;
  width: 35vw;
  color: white;
  background-color: darkred;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submit:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

#submit:active {
  background-color: #990000;
  box-shadow: 2px 4px 5px #1c2c48;
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
}


.seo-btn,
.design-btn {
  border: none;
  color: #142034;
  background-color: white;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 1.8vw;
  width: 23vw;
  padding: 1vw 1.5vw;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.design-btn,
.page-count-btn,
.cms-btn,
.data_base-btn,
.e_com-btn,
.style-btn {
  border: none;
  color: #142034;
  background-color: white;
  border-radius: 10px;
  font-weight: bolder;
  margin-left: 2px;
  font-size: 1.8vw;
  max-width: 20vw;
  padding: 1vw 1.5vw;
  box-shadow: 4px 8px 10px #1c2c48;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.page-count-btn {
  margin-left: 2vw;
}

#enquire:hover,
.seo-btn:hover,
.design-btn:hover,
.cms-btn:hover,
.data_base-btn:hover,
.e_com-btn:hover,
.style-btn:hover {
  cursor: pointer;
  background-color: #207de9;
  color: white;
}

.cms-btn:active,
.seo-btn:active,
.design-btn:active,
.data_base-btn:active,
.e_com-btn:active,
.style-btn:active {
  background-color: #207de9;
  box-shadow: 2px 4px 5px #1c2c48;
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
}

.platform-options {
  color: #142034;
  background-color: white;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 1.8vw;
  width: 50vw;
  max-width: 45vw;
  padding: 1vw 1.5vw;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.platform-choices {
    color: #207de9;
}

.platform-options:hover {
  cursor: pointer;
}

/* Styling and Dropdown */
.style,
.page-count,
.seo,
.design,
.seoCount,
.e_com,
.cms,
.platform,
.data_base,
.seo,
.form-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 6vw;
}

.dropdown-content option {
  color: #142034;
}

.dropdown-content option:hover {
  background-color: #207de9;
}

/* Button States */
.chosen {
  background-color: #207de9;
  color: #142034;
}

.not-chosen {
  background-color: #cccccc;
  color: #666666;
}

/* Email Form */
#name,
#email,
#phone,
#company,
#website {
  width: 70%;
  height: 3vw;
  background-color: #121d32;
  border: none;
  border-radius: 6px;
}

#quoteDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #121d32;
  color: grey;
  width: 70%;
  height: 40vw;
  border: none;
  border-radius: 6px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding-left: 10px;
}

.req {
  color: red;
  background: none;
}

#emailForm,
.choice-select {
  display: none;
}

/* error modal  */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.modal-content {
  border-radius: 6px;
  color: #142034;
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 3px solid #207de9;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*  Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #aaa;
  color: #1c2c48;
  opacity: 0;
  transition: visibility 0s, opacity 1s ease-in-out;
  text-align: center;
  border-radius: 6px;
  padding: 5px ;
  position: absolute;
  z-index: 1;
  right: -85px;
  -webkit-transition: visibility 0s, opacity 1s ease-in-out;
  -moz-transition: visibility 0s, opacity 1s ease-in-out;
  -ms-transition: visibility 0s, opacity 1s ease-in-out;
  -o-transition: visibility 0s, opacity 1s ease-in-out;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 0.3;
  transition-delay:  0.5s;
}

/* Add this media query for screens under 425px width */
@media screen and (max-width: 509px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
  }

  label {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    font-size: 1.2rem;
  }

  .buttons {
    display: none;
  }

  #enquire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    color: #207de9;
    background-color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 1vw 1.5vw;
    margin-top: 1rem;
  }

  .choice-select,
  .platform-options {
    display: block;
    color: #142034;
    background-color: white;
    border-radius: 6px;
    font-weight: bolder;
    font-size: 1rem;
    width: 50vw;
    max-width: 45vw;
    padding: 0.5rem 1rem;
  }

  .style,
  .page-count,
  .seo,
  .design,
  .seoCount,
  .e_com,
  .cms,
  .platform,
  .data_base,
  .seo,
  .form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vw;
  }

  div.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #quoteDetails {
    height: 10rem;
  }
}
