body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

header {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    width: 100%;
    margin-bottom: 4vw;
}

main {
    display: flex;
    flex-direction: column;
    padding: 3vw;
    width: 75%;
    max-width: 800px;
    background-color: #1C2C48;
}

h1 {
    font-size: 3vw;
    font-weight: 800;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1.7vw;
}


div.form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

/* Page Count and SEO */
#seo-page-count.rangeBar,
#page-count.rangeBar {
    width: 40%;
}

#seo-page-count,
#seo-page-count-value {
    display: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#seoYes, #designYes {
    margin-left: 10%;
}

/* Buttons and Inputs */
#enquire,
#submit {
    display: flex;
    flex-direction: row;
    align-self: center;
    height: 7vw;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    font-weight: 800;
}

#enquire {
    justify-content: center;
    width: 20vw;
    color: #207DE9;
    background-color: white;
    border-radius: 10px;
    
}

#submit {
    justify-content: center;
    width: 35vw;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seo-btn,
.design-btn {
    border-color: #207DE9;
    color: #207DE9;
    background-color: white;
    border-radius: 6px;
    font-weight: bolder;
    font-size: 1.8vw;
    width: 23vw;
    padding: 1vw 1.5vw;
}

.choice-btn,
.platformOptions {
    border-color: #207DE9;
    color: #207DE9;
    background-color: white;
    border-radius: 6px;
    font-weight: bolder;
    font-size: 1.8vw;
    max-width: 20vw;
    padding: 1vw 1.5vw;
}

#range-value {
    text-align: center;
    max-width: 7.5vw;
    /* max-height: 10vw; */
    padding: 1vw;
    border-color: #207DE9;
    color: #207DE9;
    background-color: white;
    border-radius: 6px;
    font-weight: bolder;
    font-size: 1.8vw;
}

.platformOptions {
    width: 50vw;
    max-width: 45vw;
}

/* Styling and Dropdown */
.style,
.page-count,
.seo,
.design,
.seoCount,
.e_com,
.cms,
.platform,
.data_base,
.seo,
.form-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 6vw;
}

.dropdown-content option {
    color: #207DE9;
}

.dropdown-content option:hover {
    background-color: #207DE9;
}


/* Input Range */
.input-group input[type="range"] {
    width: 100%;
}

.input-group input[type="range"]::-moz-range-thumb {
    width: 4vw;
    height: 4vw;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
}

/* Button States */
.chosen {
    background-color: #207DE9;
    color: white;
}

.not-chosen {
    background-color: #CCCCCC; /* Grey color */
    color: #666666;
}

/* Email Form */

#name,
#email,
#phone,
#company,
#website {
    width: 70%;
    height: 3vw;
    background-color: #121D32;
    border: none;
    border-radius: 6px;
}

#quoteDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    background-color: #121D32;
    color: grey;
    width: 70%;
    height: 40vw;
    border: none;
    border-radius: 6px;
}

ul {
    list-style-type: none;
    padding-left: 10px;
}

.req {
    color: red;
    background: none;
}

#emailForm {
    display: none;
}


